@page "/servers"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer // set rendermode here to set this component and all child components *@

<div class="d-flex justify-content-between">
    <h3>Servers</h3>

    <a href="/servers/add" class="btn btn-link">
        Add
    </a>
</div>
<br />
<br />

<CityListComponent @ref="cityListComponent" SelectedCityCallback="HandleCitySelection"></CityListComponent>

<br />

<ServerSearchComponent @ref="serverSearchComponent" SearchServerCallback="HandleSearchServer"></ServerSearchComponent>

<br />

@* to set rendermode per component *@
@* this method is recommended *@
<ServerListComponent @rendermode="InteractiveServer"
                     CityName="@selectedCity"
                     SearchFilter="@serverFilter"></ServerListComponent>

@code {
    private string selectedCity = "Toronto";
    private string serverFilter = "";

    private CityListComponent? cityListComponent;
    private ServerSearchComponent? serverSearchComponent;

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        serverFilter = string.Empty;
        serverSearchComponent?.ClearFilter();
    }

    private void HandleSearchServer(string searchFilter)
    {
        serverFilter = searchFilter;
        cityListComponent?.ClearSelection();
    }
}
