@page "/servers"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer // set rendermode here to set this component and all child components *@

<div class="d-flex justify-content-between">
    <h3>Servers</h3>

    <a href="/servers/add" class="btn btn-link">
        Add
    </a>
</div>
<br />
<br />

<CityListComponent></CityListComponent>

<br />

<div class="input-group mb-3">
    <input class="form-control"
           type="text"
           placeholder="Search Servers"
           @bind-value="serverFilter"
           @bind-value:event="oninput" />@* change the default onChangee to onInput on the two way binding *@
    <button class="btn btn-outline-secondary"
            type="button"
            id="button-search"
            @onclick="HandleSearch">
        Search
    </button>
</div>

<br />

@* to set rendermode per component *@
@* this method is recommended *@
<ServerListComponent @rendermode="InteractiveServer" CityName="Toronto"></ServerListComponent>

@code {
    private string _serverFilter = "";
    private string serverFilter
    {
        get => _serverFilter;
        set
        {
            _serverFilter = value;
            //servers = ServersRepository.SearchServers(_serverFilter);
        }
    }

    // when using @onchange blazor passes some parameters into the function called ChangeEventArgs
    // private void HandleServerFilterChnage(ChangeEventArgs args)
    // {
    //     serverFilter = args.Value?.ToString() ?? String.Empty;
    // }

    private void HandleSearch()
    {
        //servers = ServersRepository.SearchServers(serverFilter);
        //selectedCity = String.Empty;
    }
}
