@page "/browser_wasm_1"

@rendermode InteractiveWebAssembly

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<h3>Brower Storage Step 1</h3>
<br />
<br />

<input type="text" class="form-contol" @bind-value="_data" />
<br />
<br />

<button type="button" class="btn btn-primary" @onclick="GoNext">
    Next
</button>

@code {
    private string _data = "";

    private async Task GoNext()
    {
        await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "demo-data", _data);
        NavigationManager.NavigateTo("/browser_wasm_2");
    }
}
