@if (cities != null && cities.Count > 0)
{
    <div class="container-fluid text-center">
        <div class="row w-100">
            @foreach (var city in cities)
            {
                <CityComponent SelectedCity="@selectedCity"
                               City="@city"
                               SelectedCityCallback="HandleCitySelection">
                </CityComponent>
            }
        </div>
    </div>
}

@code {
    private List<string> cities = CitiesRepository.GetCities();

    private string selectedCity = "Toronto";

    [Parameter]
    public EventCallback<string> SelectedCityCallback { get; set; }

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        SelectedCityCallback.InvokeAsync(selectedCity);
    }

    public void ClearSelection()
    {
        selectedCity = string.Empty;
    }
}
