@* @if (servers != null && servers.Count > 0)
{
    <ul class="list-unstyled"> *@
@* should use Virtualize instead of foreach if: *@
@* - list is big (over 1000 items) *@
@* - the items are the same height *@
@* the items are rendered only when they appear on the screen *@
@*   <Virtualize Items="servers" Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Virtualize>
    </ul>
} *@

@* <ul class="list-unstyled">
    <RepeaterComponent Items="servers">
        <Row Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Row>
    </RepeaterComponent>
</ul> *@

<table class="table table-striped">
    <RepeaterComponent Items="servers">
        <Header>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    City
                </th>
                <th>
                    Status
                </th>
                <th>
                    People Online
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Row>
    </RepeaterComponent>
</table>

@code {
    [Parameter]
    public string? CityName { get; set; }

    [Parameter]
    public string? SearchFilter { get; set; }

    private List<Server>? servers;

    protected override void OnParametersSet()
    {
        if (string.IsNullOrWhiteSpace(SearchFilter))
            servers = ServersRepository.GetServersByCity(CityName ?? "Toronto");
        else
            servers = ServersRepository.SearchServers(SearchFilter);
    }
}
