<div class="input-group mb-3">
    <input class="form-control"
           type="text"
           placeholder="Search Servers"
           @bind-value="serverFilter"
           @bind-value:event="oninput" />@* change the default onChangee to onInput on the two way binding *@
    <button class="btn btn-outline-secondary"
            type="button"
            id="button-search"
            @onclick="HandleSearch">
        Search
    </button>
</div>


@code {
    [Parameter]
    public EventCallback<string> SearchServerCallback { get; set; }

    private string serverFilter = "";

    // when using @onchange blazor passes some parameters into the function called ChangeEventArgs
    // private void HandleServerFilterChnage(ChangeEventArgs args)
    // {
    //     serverFilter = args.Value?.ToString() ?? String.Empty;
    // }

    private void HandleSearch()
    {
        SearchServerCallback.InvokeAsync(serverFilter);
    }

}
